body{
 background:#EEEEEE;    
}
.user-profile-2 {
    text-align: center;
    /* position: relative; */
    margin-top:10px;
    margin-left:20px;
    height: auto;
}

.box-info {
    position: relative;
    padding: 10px;
    background: #fff;
    color: #5b5b5b;
    margin-bottom: 20px;
    -webkit-transition: All 0.4s ease;
    -moz-transition: All 0.4s ease;
    -o-transition: All 0.4s ease;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border-radius: 25px;
    width: 300px;
}
.box-info:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}

.user-profile-2 .header-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 130px;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.user-profile-2 .user-profile-inner {
    z-index: 2;
    position: relative;
}

.user-profile-2 .user-profile-inner h4.white {
    color: #fff;
}

.user-profile-2 .user-profile-inner img.profile-avatar {
    box-shadow: 0 0 0 5px rgba(255,255,255,1);
    -moz-box-shadow: 0 0 0 5px rgba(255,255,255,1);
    -webkit-box-shadow: 0 0 0 5px rgba(255,255,255,1);
    border: none;
    width:100px;
    height:100px;
}

.user-button {
    margin: 15px 0;
}

.btn-circle.btn-sm {
    width: 65%;
    height: 35px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    
    .box-info {
        width: 600px;
        margin-left: 10%;
    }
    .LI-profile-badge{
        margin-left: 27%;
    }
    .user-profile-2 {
        height: 350px;
    }
    .user-profile-2 .user-profile-inner h4.white {
        font-size:xx-large;
    }
    .user-profile-2 .user-profile-inner h5 {
        font-size:xx-large;
    }
    .user-profile-2 .header-cover img{
        width: 100%;
        height: auto;
    }
    .user-profile-2 .user-profile-inner img.profile-avatar{
        width: 150px;
        height: auto;
    }
    .user-button{
        padding-top:10px;
        padding-bottom:10px;
    }
    .user-button .row .col-md-12 a {
        font-size: x-large;
        height: 55px;
        width: 350px;
    }
}
  
  /* On screens that are 600px or less, set the background color to olive */
/* @media screen and (max-width: 600px) {
    
    .box-info {
        width: 600px;
        margin-left: 20px;
    }
    .user-profile-2 {
        height: 400px;
    }
    .user-profile-2 .user-profile-inner h5 {
        font-size: xx-large;
    }
    .user-button .row .col-md-12 a  {
        font-size: x-large;
        height: 55px;
    }

} */